
$main-bg-color: brown;
$background03: #595959;
$background02: #383838;
$grey1: grey;
$border-color: #2b2b2b;
$background01: #1e1e1e;
$text-color: #EDF0EE;
$success-color: #75B54A;
$info-color: #5595B9;