$textColor: #EDF0EE;
$textColorDark: #1c1d1f;
$active: #F2F1ED;
$success: #75B54A;
$info: #5595B9;
$danger: #FF6B6B;
$panelBackground: #333333;
$panelBackgroundLight: #5f5b60;
$panelBackgroundMedium: #4b484d;
$hoverBackground: #6188E4;

$grey1: #8F8C83;
$grey2: lightgray;
$grey3: #595959;
$grey4: #444444;
$lightPink: #FFB6C1;
$darkorchid: #9932CC;

$defaultRed: #FF6B6B;
$defaultBlue: #6188E4; 
