@import './variables.scss';

.main-content {
    height: calc(100% - 40px);
    width: 100%;
    display: flex;
    position: relative;
}

.style-nightshifs {
    .checkbox {
        display: flex;
    }

    .btn {
        border-radius: 0px;
    }

    .labeled-component {
        &.horizontal {
            display: flex;

            label {
                margin-right: 10px;
            }
        }

        margin-right: 20px;
    }

    .form-control {
        // background-color: $background03;
        // color: $text-color;
        height: 30px;
    }

    .input-group {
        .buttoned-input-button {
            height: 28px;
            border: 1px solid transparent;
            margin-top: 1px;
            background: $grey4;
            color: $text-color;
        }
    }
}