@import './variables.scss';

#header {
    height: 40px;
    background: $background03;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .button {
        &:last-child {
            margin-right: 0px;
        }
    }
}