

@import '../variables.scss';

.definition-panel {
    background: $background03;
    display: flex;
    height: 100%;
    padding: 10px 0;
    color: $text-color;

    .names-column {
        width: 200px;
        margin: 0 10px;
        overflow-y: auto;

        .names-column-inner {
            padding: 10px;

            background-color: $background02;
            input {
                width: 100px;
                display: block;
                margin-top: 10px;
            }
        }
    }

    .properties-column {
        .property-row {
            display: flex;
            padding: 5px;
            margin: 5px;
            border-radius: 4px;
            background: $background02;
        }

        .added-material {
            width: 280px;
            display: flex;
            justify-content: space-between;
        }

        overflow-y: auto;
        width: calc(100% - 210px);
    }
}