@import '../variables.scss';

.editor {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    
    .toolbar {
        height: 35px;
        padding: 2px 5px;
        background: $background02;
    }
}
